
<div class="jumbotron jumbotron-fluid jumb">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="container" style="margin-top: 150px;">
                <div>
                <p class="text-uppercase text-info font-weight-bold">Introducing lucid theme</p>
                <p style="font-size: 48px;">Carefully crafted and beautiful landing page.</p>
                <p style="font-size:18px">Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</p>
            </div>
            <button type="button" class="btn btn-primary primary_btn">Download Now</button>
            <button type="button" class="btn btn-secondary primary_btn ml-2">View Features</button>
            </div>
        </div>
        <div class="col-4">
          <img src="../../assets/img/devices-kopia.png"
          srcset="../../assets/img/devices-kopia@2x.png 2x,
          ../../assets/img/devices-kopia@3x.png 3x"
          class="devices-kopia mt-4">
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
<div class="row py-5">
<div class="col-12 text-center">
<h5 class="text-uppercase text-info font-weight-bold">Product overview</h5>
<h2>List of Amazing features</h2>
<img src="../../assets/img/prostok-t-2-kopia.png"
     srcset="../../assets/img/prostok-t-2-kopia@2x.png 2x,
     ../../assets/img/prostok-t-2-kopia@3x.png 3x"
     class="Prostokt-2-kopia">
</div>
</div>
<div class="row">
<div class="col-3 text-center">
<div class="Elipsa-1">
  <img src="../../assets/img/monitor.png"
     srcset="../../assets/img/monitor@2x.png 2x,
     ../../assets/img/monitor@3x.png 3x"
     class="Monitor">
</div>
<p class="pt-3 font-weight-bold">Responsive</p>
<p class="p_custom">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
</div>
<div class="col-3 text-center">
  <div class="Elipsa-1">
    <img src="../../assets/img/settings.png"
    srcset="../../assets/img/settings@2x.png 2x,
    ../../assets/img/settings@3x.png 3x"
    class="Monitor">
    
  </div>
  <p class="pt-3 font-weight-bold">Customizable</p>
  <p class="p_custom">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
  </div>
  <div class="col-3 text-center">
    <div class="Elipsa-1">
      <img src="../../assets/img/like.png"
      srcset="../../assets/img/like@2x.png 2x,
      ../../assets/img/like@3x.png 3x"
      class="Monitor">
    </div>
    <p class="pt-3 font-weight-bold">Lovely Design</p>
    <p class="p_custom">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
    </div>
    <div class="col-3 text-center">
      <div class="Elipsa-1">
        <img src="../../assets/img/phone.png"
           srcset="../../assets/img/phone@2x.png 2x,
           ../../assets/img/phone@3x.png 3x"
           class="Monitor">
      </div>
      <p class="pt-3 font-weight-bold">Mobile Friendly</p>
      <p class="p_custom">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
    </div>
</div>
  </div>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-6">
        <img src="../../assets/img/devices-kopia.png"
        srcset="../../assets/img/devices-kopia@2x.png 2x,
        ../../assets/img/devices-kopia@3x.png 3x"
        class="devices float-right">
      </div>
      <div class="col-6">
        <div class="container">
          <div style="margin-top: 110px;">
          <p class="text-uppercase text-info font-weight-bold">Dip into the details</p>
          <p style="font-size: 48px;">Beautiful on every device</p>
          <img src="../../assets/img/prostok-t-2-kopia.png"
     srcset="../../assets/img/prostok-t-2-kopia@2x.png 2x,
     ../../assets/img/prostok-t-2-kopia@3x.png 3x"
     class="Prostokt-2-kopia">
          <p style="font-size:18px; width: 55%;" class="mt-3 text-muted">
            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                   <p>Awesome design</p>
                   <p>Fully responsive</p>
                   <p>Retina ready</p>
                   <p>Tons of features and easy to use</p>
      </div>
      </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="container">
            <div style="margin-top: 110px;">
            <p class="text-uppercase text-info font-weight-bold">Dip into the details</p>
            <p style="font-size: 48px;">Super easy to customize</p>
            <img src="../../assets/img/prostok-t-2-kopia.png"
       srcset="../../assets/img/prostok-t-2-kopia@2x.png 2x,
       ../../assets/img/prostok-t-2-kopia@3x.png 3x"
       class="Prostokt-2-kopia">
            <p style="font-size:18px;" class="mt-3 text-muted">
              Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
        </div>
        </div>
        </div>
        <div class="col-6">
          <img src="../../assets/img/i-phone-5.png"
          srcset="../../assets/img/i-phone-5@2x.png 2x,
          ../../assets/img/i-phone-5@3x.png 3x" class="mt-3"
         >
        </div>
      </div>
    </div>
  </div>